.navbar {
  background-color: #343a40;
  padding: 10px;
}

.navbar h1 {
  font-size: 2rem;
  color: #61dafb;
  margin: 0;
}

.navbar h1 span {
  color: #28a745;
}

.header__left {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__right {
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__right a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
}

.header__right a:hover {
  color: yellow;
}
